*{
    padding: 0;
    margin: 0;
    color: #fff;
    box-sizing: border-box;
    font-family:cursive;
}

html,body{
    width: 100%;
    height: 100%;
}

/* body{
    perspective: 800px;
} */


#cursor {
    height: 18px;
    width: 18px;
    background-color: #95C11E;
    border-radius: 50%;
    position: fixed;
    z-index: 9999;   /* always on top */
    pointer-events: none;
}

#cursor-blur {
    height: 300px;
    width: 300px;
    background-color: #99c32457;
    border-radius: 50%;
    position: fixed;
    filter: blur(50px);
    z-index: 9998;   /* just below cursor */
    pointer-events: none;
}



#nav{
    height: 120px;
    width: 100%;
    /* background: green; */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap:35px;
    padding: 0 150px;
    font-size: medium;
    position: fixed;
    z-index: 9997;
}
#nav img{
    height:75px ;
}
#nav h4{
    text-transform: uppercase;
    font-weight: 500;
}

#video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: fixed; 
    z-index: -1;
}

#main{
    position: relative;
    background-color: rgba(0,0,0,0.7);
}

#page1{
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    z-index: 10;
}

#page1 h1{
    font-size: 80px;
    font-weight: 900;
    position: relative;
}
#page1 h1::before{
    content: "Eat.Drink.Play";
    position: absolute;
    color: black;
    top:-2px;
    left: -2px;
    -webkit-text-stroke: 2px #bee45581;
    z-index: -1;

}
#page1 h3{
    font-size: 20px;
    font-weight: 800;
    margin-top: 10px;
    margin-bottom: 20px;
}
#page1 p{
    font-size: 17px;
    font-weight: 500;
    width: 40%;
}

#page2{
    min-height: 100vh;
    width: 100%;
    z-index: 10;
}

#scroller{
    /* background:green; */
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    z-index: 10;
    animation: all linear 0.5s;
}

#scroller::-webkit-scrollbar{
    display: none;
    position: relative;
    z-index: 10;
}

.scroller-in{
    display: inline-block;
    white-space: nowrap;
    animation: scroll 20s linear infinite ;
}

#scroller h4{
     display: inline-block;
     font-size: 100px;
     font-weight: 900;
     margin-right:50px;
     color: transparent;
     -webkit-text-stroke: 2px #95C11E;
     transition: all linear 0.5s;
     
}

#scroller h4:hover{
    color: #95C11E;

}

@keyframes scroll{
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
}


#about-us{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    margin-top: 100px ;
    position: relative;
    z-index: 10;
}

#about-us img {
    height:120px;
    border-radius: 20px;
    object-fit: cover;
}

#about-us-in{
      width: 50%;
    text-align: center;
}

#about-us-in h3{
    font-size: 45px;
    font-weight: 800;
    margin-bottom: 7px;
}

#about-us-in p{
    font-size: 20px;
}

#cards-container{
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 70px;
    position: relative;
    z-index : 10;
    overflow: hidden;
}

.card{
    height: 80%;
    width: 24%;
    background-size: cover;
    background-position: center;
    border-radius:20px ;
}

#card1{
    background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-768x512.jpg?strip=all&lossy=1&sharp=1&ssl=1');
}

#card2{
    background-image: url("https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/hero-4.jpg?strip=all&lossy=1&sharp=1&w=240&ssl=1");
}

#card3{
  background-image: url('https://eiwgew27fhz.exactdn.com/wp-content/uploads/2023/02/home-toptracer-768x512.jpg?strip=all&lossy=1&sharp=1&ssl=1');
}

.overlay{
    height : 100%;
    width : 100%;
    background-color: #95C11E;
    padding: 30px;
    padding-top: 80px;
    border-radius: 20px;
    opacity: 0;
    transition: all ease 0.6s;
    z-index: 10;
}

.overlay h3{
    color: black;
    font-size: 35px;
    font-weight: 800;
    margin-bottom: 10px;
    text-wrap: nowrap;
}

.overlay p{
    color: rgba(0, 0, 0, 0.845);
    font-size: 13px;
}

.card:hover .overlay{
    opacity: 1;
}

.overlay:hover {
   transform: rotate3d(1,1,0,15deg);

}

#green-div{
    height: 40vh;
    width: 100%;
    background: linear-gradient(to left bottom,#57f502,#a9e10c);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    z-index: 10;
}

#green-div img {
    height: 100%;
    width: 14%;
    object-fit: cover;
}

#green-div p {
    color: black;
    font-weight: 900;
    width: 45%;
    font-size: 30px;
    line-height: 50px;
}

#page3{
    height: 100vh;
    width: 100%;
    position: relative;
    background: #000;
    display : flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
}

#page3>p{
    font-size : 30px;
    width:60% ;
    font-weight: 700;
    line-height: 45px;
    text-align: center;
}

#page3 img {
   position: absolute;
   height: 40px;
}

#page3 #colon1{
    left : 10%;
    top : 20%;
}

#page3 #colon2{
   right : 10%;
    bottom : 20%;
}


#page4{
    height: 45vh;
    width : 100%;
    background-color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 40px;
    position: relative;
}

#page4 h2{
    position: absolute;
    top:2%;
    font-size: 60px;
    font-weight: 900;
    color: #000;
    -webkit-text-stroke: 0.8px #fff;
}

.box{
    height: 50%;
    width: 25%;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
}

.box h1{
    color: #000;
    background-color: #95C11E;
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.5s;
    z-index: 10;
}

.box img{
   height: 100%;
   width: 100%;
   object-fit: cover;
   scale : 1.1;
   transition: all ease 0.5s;
}


.box:hover h1{
    background-color: transparent;
    color: azure;
}

.box:hover img{
    scale: 1;
}


    footer {
    height: 50vh;
    width: 100%;
    background: linear-gradient(to left bottom,#57f502,#a9e10c);
    position: relative;
    display: flex;
    flex-direction: column;         
    align-items: center;
    justify-content: space-between; 
    padding: 20px;
    color: #000;
    overflow: hidden;               
}

#footerbgimg {
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;      
    height: 100%;
    z-index: 0;     
}

#footerbgimg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    z-index: inherit;
}

#foot1 {
    width: 100%;
    display: flex;                   
    justify-content: space-evenly;   
    align-items: flex-start;
    z-index: 1;   
    margin-top: 30px;                
}

#footer1 img {
    height: 75px;
    margin-top: 20px;
    z-index: 1;
}

.foot h1{
    color: #000;        
    font-weight: 900;
    font-size: 5vh;
}
.foot p {
     color: #000;        
    font-weight: 700;
    font-size: medium;
}

footer > p {           
    z-index: 1;
    text-align: center;
    font-weight: 600;
    margin-top: 10px;
    color: #2c2b2b;
}
